<section class="vh-100" style="background-color: #3e7bff;">
<div class="container py-5 h-100">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Registro</div>
                    <div class="card-body">
                        <form id="register-form" method="post" role="form" [formGroup]="registerForm">
                            <div class="form-group m-t"> 
                                <input formControlName="userName" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="">
                            </div>
                            <div class="form-group m-t">
                                <input formControlName="email" type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Correo electronico" value="">
                            </div>
                            <div class="form-group m-t">
                                <input formControlName="password" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="form-group m-t">
                                <input formControlName="confirm" type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmar contraseña">
                            </div>
                            <div class="form-group m-t">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" (click)="submit()" name="register-submit" id="register-submit" tabindex="4" class="btn btn-primary" value="Crear cuenta">
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>
</section>
