@font-face {
  font-family: "Montserrat-Regular_wgt400";
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "Montserrat-Medium_wgt500";
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Medium.ttf")  format("truetype");
   font-weight : 500;
 
}
@font-face {
  font-family: "Roboto-Regular_wgt400";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "Montserrat-SemiBold_wgt600";
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-SemiBold.ttf")  format("truetype");
   font-weight : 600;
 
}
@font-face {
  font-family: "Nunito-Regular_wgt400";
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Nunito-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}