<ng-container>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container" container py-5 h-100>
            <img src="https://img.freepik.com/vector-gratis/libro-abierto-paginas-vacias_1308-79363.jpg?w=900&t=st=1681144054~exp=1681144654~hmac=565704c31ee15ff03a43a519389ae86c0365011628dbd418ca985f9f053605ea" ALIGN=LEFT WIDTH=150 HEIGHT=50 >
            <a class="logo" href="#">BookApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a>&nbsp;&nbsp;</a><button type="button" routerLink="/auth/login" class="btn btn-primary">Autenticacion</button><a>&nbsp;</a>           
                    </li>
                    <li class="nav-item">
                        <button type="button" routerLink="/dashboard/list" class="btn btn-primary">Lista de Producto</button><a>&nbsp;</a> 
                    </li>
                    <li class="nav-item">
                        <button type="button" routerLink="/register" class="btn btn-info">Registro</button><a>&nbsp;</a> 
                    </li>
                    <li class="nav-item">
                        <button type="button" routerLink="/webapp/play" class="btn btn-info">Detalle de Producto</button><a>&nbsp;</a> 
                    </li>
                    <li class="nav-item">
                        ¡Bienvenido {{userInfo.username}}!
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <main class="login-form">
        <ng-container>
            <router-outlet></router-outlet>
        </ng-container>
    </main>
</ng-container>