<section class="vh-100" style="background-color: #1d3b7c;">
<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Lista de Producto</div>
                <div class="card-body">
                    <div class="card-group mt-4">
                        <a *ngFor="let element of Libros; let i = index">
                            <div id="{{'card'+i}}" class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{element.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ element.titulo }}</h5>
                                    <h6 class="card-author">Autor: {{ element.autor }}</h6>
                                    <p class="card-text">Genero: {{ element.genero }}</p>
                                    <button class="btn btn-primary" (click)="sendProduct(i)">Detalle</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>