<section class="vh-100" style="background-color: #ffffff;">
  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <h1 class="font-weight-bold">{{Libros[token].titulo}}</h1>
      <h2 class="card-text"><small><span style="color:black">Autor </span></small>{{Libros[token].autor}}</h2>
      <h4 class="text-muted">{{Libros[token].genero}}</h4>
      <p class="card-text"><small >Este libro se encuentra disponible en nuestro inventario puede comunicarse con nuestros asesores en el siguiente boton</small></p>
      <button type="button" class="btn btn-light btn-lg btn-block">Solicitar una Copia BookApp®</button>
    </div>
    <img class="card-img-bottom" src="{{Libros[token].imagen}}" alt="Card image cap">
  </div>
</section>
