#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 > #backgroundBox {
  background-color: #F5F8FB;
  position: absolute;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 > #alignmentBox {
  position: relative;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_1 {
  position: absolute;
  width: 1287.0px;
  min-height: 788.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 10px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 {
  position: absolute;
  width: 652.0px;
  min-height: 789.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(217,217,217,0.0);
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.5;
  background-image: url('../../images/66677de7-8d41-4091-92af-78f9c175d4ca.png');
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_1 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_1 {
  position: absolute;
  width: 170.77197265625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: right;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_1 span {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #1877F2;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 input::-webkit-input-placeholder {
  color: #666666;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 input::-moz-placeholder {
  color: #666666;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 input:-moz-placeholder {
  color: #666666;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 input:-ms-input-placeholder {
  color: #666666;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_1 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_2 {
  position: absolute;
  width: 80.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 input::-webkit-input-placeholder {
  color: #434343;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 input::-moz-placeholder {
  color: #434343;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 input:-moz-placeholder {
  color: #434343;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 input:-ms-input-placeholder {
  color: #434343;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 17px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_2 .paddingLayer {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_2 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_3 {
  position: absolute;
  width: 83.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_4 {
  position: absolute;
  width: 120.9999999999998px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_3.checked > .backgroundLayer {
  background-image: url('../../images/e1e74933-c6d7-4f38-81a0-92e6264f8de2.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_3.unchecked > .backgroundLayer {
  background-image: url('../../images/4629eaf7-5289-489a-8697-436e06be3d1b.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Input_3 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 {
  position: absolute;
  width: 148.0000000000001px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_3 {
  position: absolute;
  width: 19.37339973449707px;
  height: 22.999984741210938px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_4 {
  position: absolute;
  width: 11.039999008178711px;
  height: 10.804893493652344px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_5 {
  position: absolute;
  width: 17.887699127197266px;
  height: 9.31500244140625px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_6 {
  position: absolute;
  width: 5.065299987792969px;
  height: 10.329399108886719px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_7 {
  position: absolute;
  width: 17.97140121459961px;
  height: 9.31500244140625px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F1F6F9;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_8 {
  position: absolute;
  width: 23.000001907348633px;
  height: 22.86029815673828px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_9 {
  position: absolute;
  width: 105.5px;
  height: 2.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Path_10 {
  position: absolute;
  width: 104.5px;
  height: 2.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_5 {
  position: absolute;
  width: 139.5px;
  min-height: 20.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_5 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_6 {
  position: absolute;
  width: 296.5px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_6 span {
  color: #31333C;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Image_1 {
  position: absolute;
  width: 862.0000000000001px;
  height: 715.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Image_2 {
  position: absolute;
  width: 245.0px;
  height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Table_1 {
  position: absolute;
  width: 131.03133354187008px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #003900;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #003900;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #003900;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #003900;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 {
  width: 101.55001110590787%;
  height: 103.41880341880344%;
  cursor: pointer;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .Cell_1 > *:first-child {
  margin-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .Cell_1 > *:last-child {
  margin-right: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .Cell_1 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Cell_1 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_7 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_7 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4a8719bc-45cd-4fcd-9f5a-176c030e8a78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}