#s-a5346870-5110-4db9-b8b8-81b5061532d2 > #backgroundBox {
  position: absolute;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 > #alignmentBox {
  position: relative;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 {
  position: absolute;
  width: 1381.0000000000005px;
  min-height: 847.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 25px rgba(64,64,64,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 {
  position: absolute;
  width: 631.0px;
  min-height: 847.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 20.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F4F6;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 20.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 20.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_1 {
  width: 788.0px;
  height: 792.7591590881352px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Image_1 {
  position: absolute;
  width: 759.9999999999994px;
  height: 759.9999999999993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_2 {
  width: 788.0px;
  height: 792.7591590881352px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Image_2 {
  position: absolute;
  width: 778.0px;
  height: 777.9999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_3 {
  width: 788.0px;
  height: 792.7591590881352px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Image_3 {
  position: absolute;
  width: 770.0000000000006px;
  height: 770.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_4 {
  width: 788.0px;
  height: 792.7591590881352px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_1 {
  width: 55.666666666666686px;
  height: 55.666666666666714px;
  min-height: 55.666666666666714px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_1 {
  position: absolute;
  width: 32.69236755371094px;
  height: 26.56267547607422px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_2 {
  position: absolute;
  width: 9.1875px;
  height: 17.3668212890625px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_3 {
  position: absolute;
  width: 17.8349609375px;
  height: 14.39105224609375px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_4 {
  position: absolute;
  width: 17.5050048828125px;
  height: 17.3668212890625px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_2 {
  width: 36.0px;
  height: 36.000000000000014px;
  min-height: 36.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_3 {
  width: 36.0px;
  height: 36.000000000000014px;
  min-height: 36.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_4 {
  width: 36.0px;
  height: 36.000000000000014px;
  min-height: 36.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #E06EA3;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_5 {
  width: 36.0px;
  height: 36.000000000000014px;
  min-height: 36.000000000000014px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #81E2D0;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Hotspot_1 {
  position: absolute;
  width: 41.0px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Hotspot_2 {
  position: absolute;
  width: 41.0px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Hotspot_3 {
  position: absolute;
  width: 41.0px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Hotspot_4 {
  position: absolute;
  width: 41.0px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_1 {
  position: absolute;
  width: 130.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Image_5 {
  position: absolute;
  width: 17.660898300111057px;
  height: 15.128718640088664px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_2 {
  position: absolute;
  width: 342.0px;
  min-height: 46.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #35B736;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #35B736;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #35B736;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #35B736;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 {
  position: absolute;
  width: 41.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 {
  position: absolute;
  width: 235.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_5 {
  position: absolute;
  width: 20.2900390625px;
  height: 20.356689453125px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 {
  position: absolute;
  width: 64.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 500;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 500;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_6 {
  position: absolute;
  width: 21.49710464477539px;
  height: 20.498321533203125px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Hotspot_5 {
  position: absolute;
  width: 39.0px;
  height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_3 {
  position: absolute;
  width: 388.0000000000002px;
  min-height: 138.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_3 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_4 {
  position: absolute;
  width: 536.0000000000001px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 31.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 31.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_5 {
  position: absolute;
  width: 152.62244796752907px;
  min-height: 42.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_5 span {
  color: #8D9697;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #8D9697;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_6 {
  position: absolute;
  width: 99.6224479675291px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_6 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: italic;
  font-weight: 400;
  line-height: 31px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: italic;
  font-weight: 400;
  line-height: 31px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_6 {
  width: 44.0px;
  height: 44.0px;
  min-height: 44.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #F2F4F6;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_7 {
  position: absolute;
  width: 24.28564453125px;
  height: 24.365463256835938px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_7 {
  width: 19.0px;
  height: 19.0px;
  min-height: 19.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_8 {
  width: 44.0px;
  height: 44.0px;
  min-height: 44.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #F2F4F6;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_8 {
  position: absolute;
  width: 19.720458984375px;
  height: 24.259071350097656px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Ellipse_9 {
  width: 44.0px;
  height: 44.0px;
  min-height: 44.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #F2F4F6;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Path_9 {
  position: absolute;
  width: 21.99710464477539px;
  height: 20.998321533203125px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 17.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 17.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Image_4 {
  position: absolute;
  width: 535.9999999999998px;
  height: 641.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Image_6 {
  position: absolute;
  width: 245.0px;
  height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Table_1 {
  position: absolute;
  width: 131.03133354187008px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #003900;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #003900;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #003900;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #003900;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 {
  width: 101.55001110590787%;
  height: 103.41880341880344%;
  cursor: pointer;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .Cell_1 > *:first-child {
  margin-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .Cell_1 > *:last-child {
  margin-right: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .Cell_1 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Cell_1 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_8 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_8 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a5346870-5110-4db9-b8b8-81b5061532d2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}