#s-d7263a04-576f-4eb3-92eb-8583780e1c18 > #backgroundBox {
  position: absolute;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 > #alignmentBox {
  position: relative;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_1 {
  position: absolute;
  width: 456.181396484375px;
  height: 375.4722900390625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_2 {
  position: absolute;
  width: 378.938720703125px;
  height: 2.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_1 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_2 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_3 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_4 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_5 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_6 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_7 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_3 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_4 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_5 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_6 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_7 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_8 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_9 {
  position: absolute;
  width: 2.0px;
  height: 91.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_10 {
  position: absolute;
  width: 360.9947509765625px;
  height: 54.26213073730469px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 {
  position: absolute;
  width: 155.39534380615936px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_8 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 22.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 22.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_11 {
  position: absolute;
  width: 12.599621772766113px;
  height: 6.421226501464844px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_9 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Impact',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_10 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_12 {
  position: absolute;
  width: 456.181396484375px;
  height: 375.4722900390625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_13 {
  position: absolute;
  width: 378.938720703125px;
  height: 2.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_11 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_12 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_13 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_14 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_15 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_16 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_17 span {
  color: rgba(40,45,50,0.7);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: rgba(40,45,50,0.7);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_14 {
  position: absolute;
  width: 40.2021484375px;
  height: 120.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_15 {
  position: absolute;
  width: 40.2021484375px;
  height: 60.465087890625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_16 {
  position: absolute;
  width: 40.2021484375px;
  height: 87.44183349609375px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_17 {
  position: absolute;
  width: 40.2021484375px;
  height: 102.3255615234375px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_18 {
  position: absolute;
  width: 40.2021484375px;
  height: 66.0465087890625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_19 {
  position: absolute;
  width: 40.2021484375px;
  height: 94.88372802734375px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_20 {
  position: absolute;
  width: 40.2021484375px;
  height: 77.20928955078125px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_18 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 22.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 22.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 {
  position: absolute;
  width: 155.3953438061593px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_21 {
  position: absolute;
  width: 12.599621772766113px;
  height: 6.421226501464844px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_19 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_20 {
  position: absolute;
  width: 139.3925781250001px;
  min-height: 116.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Impact',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_20 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_22 {
  position: absolute;
  width: 298.915283203125px;
  height: 106.34722900390625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_21 span {
  color: #282D32;
  text-align: right;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_22 span {
  color: #282D32;
  text-align: right;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_23 {
  position: absolute;
  width: 29.86349105834961px;
  height: 29.86349105834961px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_24 {
  position: absolute;
  width: 44.79523468017578px;
  height: 9.124954223632812px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_25 {
  position: absolute;
  width: 29.86349105834961px;
  height: 29.86349105834961px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_26 {
  position: absolute;
  width: 9.954496383666992px;
  height: 6.636331558227539px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_27 {
  position: absolute;
  width: 44.79523468017578px;
  height: 9.124954223632812px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_28 {
  position: absolute;
  width: 298.915283203125px;
  height: 106.34722900390625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_23 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_23 span {
  color: #282D32;
  text-align: right;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_24 span {
  color: #282D32;
  text-align: right;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_29 {
  position: absolute;
  width: 56.81306838989258px;
  height: 31.764694213867188px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_30 {
  position: absolute;
  width: 48.333717346191406px;
  height: 30.75717544555664px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_31 {
  position: absolute;
  width: 14.323994636535645px;
  height: 1.6049690246582031px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_32 {
  position: absolute;
  width: 14.3240966796875px;
  height: 1.6049690246582031px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_33 {
  position: absolute;
  width: 19.415969848632812px;
  height: 1.6049690246582031px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_34 {
  position: absolute;
  width: 297.9666748046875px;
  height: 106.34722900390625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_25 span {
  color: #282D32;
  text-align: right;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_26 span {
  color: #282D32;
  text-align: right;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_35 {
  position: absolute;
  width: 40.73434066772461px;
  height: 39.0676383972168px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_36 {
  position: absolute;
  width: 7.1714935302734375px;
  height: 4.675331115722656px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_37 {
  position: absolute;
  width: 40.73416519165039px;
  height: 39.0676383972168px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_38 {
  position: absolute;
  width: 748.5569458007812px;
  height: 315.0416564941406px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_39 {
  position: absolute;
  width: 607.111083984375px;
  height: 123.3328857421875px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_40 {
  position: absolute;
  width: 612.3682250976562px;
  height: 127.3328857421875px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_41 {
  position: absolute;
  width: 607.111083984375px;
  height: 154.82907104492188px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_42 {
  position: absolute;
  width: 614.92333984375px;
  height: 158.82907104492188px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_43 {
  position: absolute;
  width: 97.97412109375px;
  height: 30.765716552734375px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_27 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_28 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_29 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_30 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_30 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_31 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_31 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_32 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_33 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_34 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_35 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_35 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_36 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_37 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_37 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_38 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_38 span {
  color: rgba(43,48,52,0.41);
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: rgba(43,48,52,0.41);
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_44 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_45 {
  position: absolute;
  width: 9.48602294921875px;
  height: 5.6916656494140625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_39 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_39 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_39 span {
  color: #2B3034;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #2B3034;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_40 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Impact',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_40 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_40 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Rectangle_1 {
  position: absolute;
  width: 627.0px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_46 {
  position: absolute;
  width: 498.1236572265625px;
  height: 315.0416564941406px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_41 {
  position: absolute;
  width: 133.43359374999977px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Impact',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_41 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_41 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_41 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_41 span#rtr-s-Paragraph_41_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Impact',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_47 {
  position: absolute;
  width: 114.3997802734375px;
  height: 209.577392578125px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_48 {
  position: absolute;
  width: 106.12689208984375px;
  height: 101.202392578125px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_49 {
  position: absolute;
  width: 89.10479736328125px;
  height: 88.4708251953125px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_50 {
  position: absolute;
  width: 161.5797119140625px;
  height: 83.8092041015625px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_42 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_42 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_43 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_43 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_44 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_44 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_45 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_45 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Nunito',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Ellipse_1 {
  width: 16.0px;
  height: 16.363636363636374px;
  min-height: 16.363636363636374px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_46 {
  position: absolute;
  width: 57.428001403808594px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_46 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_46 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Ellipse_2 {
  width: 16.0px;
  height: 16.363636363636374px;
  min-height: 16.363636363636374px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #0BD60D;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_47 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_47 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_47 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Ellipse_3 {
  width: 16.0px;
  height: 16.363636363636374px;
  min-height: 16.363636363636374px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #ABF6AB;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_48 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_48 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_48 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_48 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Ellipse_4 {
  width: 16.0px;
  height: 16.363636363636374px;
  min-height: 16.363636363636374px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #999999;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_49 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_49 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 {
  position: absolute;
  width: 298.556884765625px;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #E7E7E7;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #E7E7E7;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #E7E7E7;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #E7E7E7;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Path_51 {
  position: absolute;
  width: 15.177825927734375px;
  height: 15.177825927734375px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_50 {
  position: absolute;
  width: 334.4619903564452px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Nunito-Regular_wgt400',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_50 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_50 span {
  color: #282D32;
  text-align: left;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 19.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #282D32;
  text-decoration: none;
  font-family: 'Nunito-Regular_wgt400',Arial;
  font-size: 19.5pt;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Image_1 {
  position: absolute;
  width: 245.0px;
  height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Table_1 {
  position: absolute;
  width: 1034.2506683349607px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #003900;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #003900;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #003900;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #003900;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 {
  width: 12.5%;
  height: 100.0%;
  cursor: pointer;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .Cell_9 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .Cell_9 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_51 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_51 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_51 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_51 span#rtr-s-Paragraph_51_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 {
  width: 12.5%;
  height: 100.0%;
  cursor: pointer;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_52 {
  width: 88.01220703124983px;
  min-height: 33.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_52 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_52 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_52 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_52 span#rtr-s-Paragraph_52_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 {
  width: 12.5%;
  height: 100.0%;
  cursor: pointer;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .Cell_11 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .Cell_11 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .Cell_11 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_53 {
  width: 67.01220703125011px;
  min-height: 33.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_53 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_53 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_53 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_53 span#rtr-s-Paragraph_53_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 {
  width: 12.5%;
  height: 100.0%;
  cursor: pointer;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .Cell_12 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .Cell_12 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .Cell_12 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_12 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_54 {
  width: 77.01220703125px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_54 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_54 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_54 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_54 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_54 span#rtr-s-Paragraph_54_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 {
  width: 12.5%;
  height: 100.0%;
  cursor: pointer;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .Cell_13 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .Cell_13 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .Cell_13 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_13 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_55 {
  width: 89.01220703125px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_55 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_55 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_55 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_55 span#rtr-s-Paragraph_55_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 {
  width: 12.5%;
  height: 100.0%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .Cell_14 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .Cell_14 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .Cell_14 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_14 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_56 {
  width: 58.01220703125023px;
  min-height: 33.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_56 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_56 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_56 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_56 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_56 span#rtr-s-Paragraph_56_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 {
  width: 12.5%;
  height: 100.0%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .Cell_15 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .Cell_15 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .Cell_15 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_15 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_57 {
  width: 96.01220703125px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_57 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_57 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_57 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_57 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_57 span#rtr-s-Paragraph_57_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .verticalalign {
  vertical-align: middle;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 {
  width: 12.5%;
  height: 100.0%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .Cell_16 > *:first-child {
  margin-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .Cell_16 > *:last-child {
  margin-right: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .Cell_16 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Cell_16 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_58 {
  width: 71.01220703124977px;
  min-height: 33.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_58 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_58 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 #s-Paragraph_58 span#rtr-s-Paragraph_58_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7263a04-576f-4eb3-92eb-8583780e1c18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}